VITE_CONTACT_EMAIL=ra@karanvijayvargiya.com
VITE_CONTACT_PHONE=+91 89592 22227
VITE_SEBI_REG_NO=INH000025470
VITE_OFFICE_ADDRESS="Office 101, 654 Shyam Aashrey, Scheme No 114, Part 2, Vijaynagar, Indore, Madhya Pradesh - 452010"
